@media (min-width: 1400px) and (max-width: 1540px) {
    .body {
            background: #F0EFF2;
            width: 1512px;
            height: 982px;
            top: -5126px;
            left: 1939px;
    }

    .header {
            background-color: #000000;
            width: 1512px;
            height: 80px;
            padding-top: 25px;
            display: flex;
            justify-content: space-between;
    }

    .header img {
            width: 370px;
            height: 36px;
            top: 22px;
            left: 25px;
    }

    .header-nav {
            display: flex;
            align-items: center;
            gap: 20px;
    }

    .header a {
            color: #FFFFFF;
            font-family: Inter;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
    }


    .logout-button {
            color: #FFFFFF;
            background-color: #000000;
            font-family: Inter;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            width: auto;
            height: 29px;
            top: 26px;
            left: 1346px;
            border: none;
    }

    .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
    }

    .line {
            border: 8px solid #000000;
            width: 40;
            top: 211px;
            left: 306px;
            angle: 90 deg;
            border-width: 8px;
    }

    h2 {
            color: #000000;
            font-family: Inter;
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            width: auto;
            height: 36px;
            top: 171px;
            left: 327px;
            text-align: left;
            align-self: flex-start;
            margin-left: 300px;
    }

    .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
    }

    .line {
            border: 8px solid #000000;
            width: 40px;
            top: 213px;
            left: 314px;
            border-width: 8px;
            angle: 90 deg;
        }

    h2 {
            color: #000000;
            font-family: Inter;
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            width: auto;
            height: 36px;
            top: 173px;
            left: 335px;
            align-self: flex-start;
            margin-left: 300px;
            margin-bottom: 50px;
    }

    .table {
            background: #FFFFFF;
            width: 900px;
            height: 328px;
            top: 360px;
            left: 306px;
            border-radius: 10px;
            margin-top: 50px;
            border-collapse: collapse;
    }

    th {
            color: #737373;
            font-family: Inter;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 15%;
            width: 35px;
            height: 19px;
            top: 375px;
            left: 951px;
            border-bottom: 3px solid #E1E1E1;
            padding: 10px;
    }


    td {
            color: #737373;
            font-family: Inter;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 15%;
            width: 45px;
            height: 19px;
            top: 467px;
            left: 948px;
            text-align: center;
            border-bottom: 2px solid #E1E1E1;
    }

    .detail {
            color: #000000;
            font-family: Inter;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 15%;
            width: 35px;
            height: 19px;
            top: 420px;
            left: 1084px;
            text-decoration: none;
    }
}

@media (min-width: 768px) and (max-width: 850px) {
    .body {
            background: #F0EFF2;
            width: 1512px;
            height: 982px;
            top: -5126px;
            left: 1939px;
        }

    .header {
            background-color: #000000;
            width: 1512px;
            height: 80px;
            padding-top: 25px;
            display: flex;
            justify-content: space-between;
    }

    .header img {
            width: 370px;
            height: 36px;
            top: 22px;
            left: 25px;
    }

    .header-nav {
            display: flex;
            align-items: center;
            gap: 20px;
    }

    .header a {
            color: #FFFFFF;
            font-family: Inter;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            vertical-align: middle;
            text-decoration: none;
    }


    .logout-button {
            color: #FFFFFF;
            background-color: #000000;
            font-family: Inter;
            font-weight: 700;
            font-size: 24px;
            line-height: 100%;
            letter-spacing: 0%;
            vertical-align: middle;
            width: auto;
            height: 29px;
            top: 26px;
            left: 1346px;
            border: none;
    }

    .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
    }

    .line {
            border: 8px solid #000000;
            width: 40;
            top: 211px;
            left: 306px;
            angle: 90 deg;
            border-width: 8px;
    }

    h2 {
            color: #000000;
            font-family: Inter;
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            width: auto;
            height: 36px;
            top: 171px;
            left: 327px;
            text-align: left;
            align-self: flex-start;
            margin-left: 300px;
    }

    .main {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
    }

    .line {
            border: 8px solid #000000;
            width: 40px;
            top: 213px;
            left: 314px;
            border-width: 8px;
            angle: 90 deg;
    }

    h2 {
            color: #000000;
            font-family: Inter;
            font-weight: 700;
            font-size: 30px;
            line-height: 100%;
            letter-spacing: 0%;
            width: auto;
            height: 36px;
            top: 173px;
            left: 335px;
            align-self: flex-start;
            margin-left: 300px;
            margin-bottom: 50px;
    }

    .table {
            background: #FFFFFF;
            width: 900px;
            height: 328px;
            top: 360px;
            left: 306px;
            border-radius: 10px;
            margin-top: 50px;
            border-collapse: collapse;
    }

    th {
            color: #737373;
            font-family: Inter;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 15%;
            width: 35px;
            height: 19px;
            top: 375px;
            left: 951px;
            border-bottom: 3px solid #E1E1E1;
            padding: 10px;
    }


    td {
            color: #737373;
            font-family: Inter;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 15%;
            width: 45px;
            height: 19px;
            top: 467px;
            left: 948px;
            text-align: center;
            border-bottom: 2px solid #E1E1E1;
    }

    .detail {
            color: #000000;
            font-family: Inter;
            font-weight: 700;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 15%;
            width: 35px;
            height: 19px;
            top: 420px;
            left: 1084px;
            text-decoration: none;
    }
}